/* Error: Undefined mixin.
 *    ,
 * 16 | /   @include responsive() {
 * 17 | |     padding: 1rem;
 * 18 | \   }
 *    '
 *   sass/config/_header.scss 16:3  @use
 *   sass/style.scss 5:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502  \250c    @include responsive() {\a 17 \2502  \2502      padding: 1rem;\a 18 \2502  \2514    }\a    \2575 \a   sass/config/_header.scss 16:3  @use\a   sass/style.scss 5:1            root stylesheet";
}
