@use "./variables" as var;

body {
  //   width: 100vw;
  //   height: 100vh;
  background-color: var.$dark-mode-background;
  font-family: var.$main-font;
  font-size: 14px;
  color: var.$dark-text-Light-el;

  &.light {
    background-color: var.$light-mode-background;
    color: var.$light-mode-text;
  }
}
