@use "./variables" as var;
@use "./mediaQuery" as *;

.country {
  // width: 90%;
  max-width: 1200px;
  // padding: 0 3rem;
  margin-inline: auto;
  margin-top: 3rem;

  .back-btn {
    all: unset;
    // background-color: var.$dark-mode-elements;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    //width: 100px;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 4rem;

    img {
      width: 40%;
      // border: 1rem solid var.$dark-mode-elements;
      border-radius: 5px;
    }

    h1 {
      margin-bottom: 1.5rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 180px;
      row-gap: 1rem;
      column-gap: 8rem;
    }

    &--border neighbour-name a {
      padding: 4px 16px;
      box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      font-size: 14px;
    }
  }
}

// .details {
//   display: none;
//   //   display: flex;
//   justify-content: space-between;
//   padding: 3rem 6.5rem;
//   font-size: 1rem;

//   @include responsive() {
//     // display: flex;
//     display: none;
//     flex-direction: column;
//     padding: 2rem;
//   }

//   &__box--left {
//     width: 50%;

//     @include responsive() {
//       width: 100%;
//     }

//     .btn--back {
//       all: unset;
//       cursor: pointer;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 105px;
//       height: 40px;
//       border-radius: 5px;
//       background-color: var.$dark-mode-elements;
//       margin-bottom: 3rem;
//       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
//       font-size: 20px;
//       gap: 0.8rem;

//       @include responsive() {
//         width: 80px;
//         height: 30px;
//         font-size: 15px;
//       }
//     }
//     .details--flag {
//       width: 85%;

//       @include responsive() {
//         width: 100%;
//       }
//     }
//   }

//   &__box--right {
//     width: 50%;
//     height: 370px;
//     display: flex;
//     flex-direction: column;
//     margin-top: 8rem;

//     @include responsive() {
//       width: 100%;
//       margin-top: 2rem;
//     }

//     .details-country-name {
//       font-size: 1.5rem;
//       font-weight: 800;
//       padding-bottom: 20px;
//     }

//     .properties {
//       width: 100%;
//       display: flex;
//       justify-content: space-between;

//       @include responsive() {
//         flex-direction: column;
//         margin-bottom: 1rem;
//       }

//       .each-details {
//         width: 50%;
//         // font-size: 1rem;

//         li {
//           padding-top: 10px;
//           font-weight: 600;

//           @include responsive() {
//             font-size: 12px;
//           }

//           .detail-info {
//             font-weight: 300;
//           }
//         }
//       }
//     }
//   }
//   &__border {
//     display: flex;
//     align-items: center;
//     font-weight: 600;

//     @include responsive() {
//       flex-direction: column;
//       align-items: flex-start;
//     }

//     .neighbour-name {
//       margin-right: 20px;

//       @include responsive() {
//         font-size: 14px;
//       }
//     }

//     ul {
//       display: flex;

//       @include responsive {
//         margin-top: 0.1rem;
//       }

//       .neighbour {
//         font-weight: 300;
//         min-width: 90px;
//         text-align: center;
//         cursor: pointer;
//         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
//         border-radius: 5px;
//         background-color: var.$dark-mode-elements;
//         margin: 0.5rem;
//         padding: 0.2rem;

//         @include responsive() {
//           margin: 0 0.5rem 0 0;
//           font-size: 14px;
//           min-width: 70px;
//           min-height: 20px;
//         }
//       }
//     }
//   }
// }
