@use "./variables" as var;
@use "./mediaQuery" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 4rem;
  width: 100%;
  background-color: var.$dark-text-Light-el;

  &.dark {
    background-color: var.$dark-mode-elements;
  }

  @include mq(sp) {
    padding: 1rem;
  }

  &__heading {
    font-size: 24px;
    font-weight: 800;

    @include mq(sp) {
      font-size: 12px;
    }
  }

  &__mode-switcher {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;

    @include mq(sp) {
      font-size: 12px;
    }

    ion-icon {
      padding: 0 0.5rem;
    }
  }
}
